<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--<events>
       <event name="item:saving">
         <handler type="SitecoreSuperchargers.GenericItemProvider.Events.ItemEventHandler, SitecoreSuperchargers.GenericItemProvider" method="OnItemSaving" />
       </event>
     </events>-->
    <itemManager>
      <providers>
        <add>
          <patch:attribute name="type">SitecoreSuperchargers.GenericItemProvider.Data.Providers.GenericItemProvider, SitecoreSuperchargers.GenericItemProvider</patch:attribute>
        </add>
      </providers>
    </itemManager>
    <pipelines>
      <genericItemProvider>
        <!--<processor type="YourNamespace.YourClass, YourAssembly" />-->
      </genericItemProvider>
    </pipelines>
    <!--<processors>
      <saveUI>
        <processor patch:before="*[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" mode="on" type="SitecoreSuperchargers.GenericItemProvider.Pipelines.Save.GenericSaveProcessor, SitecoreSuperchargers.GenericItemProvider"/>
      </saveUI>
    </processors>-->
    <settings>
      <setting name="GIP.SupportedDatabases" value="master" />
      <setting name="GIP.Tracing.Enabled" value="false" />
    </settings>
  </sitecore>
</configuration>